* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color:#0a80ce ;
}
.card .front-view img{
    width: 40px;
}

.card .back-view img{
    max-width: 80px;
}

.container{
    height: 500px;
    width: 500px;
    background: linear-gradient(to right, #1868b3, #ec008c);
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 0 10px;
}
.cards,
.card,
.view{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards{
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cards .card{
    height: calc(100% / 4 - 10px);
    width: calc(100% / 4 - 10px);
    cursor: pointer;

    position: relative;
    perspective: 800px;
    transform-style: preserve-3d;
}
.cards .card .view{
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 25px 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.616);

    position: absolute;
    transition: transform .25s linear;
    backface-visibility: hidden;
    pointer-events: none;
    user-select: none;
}
.card .front-view span{
    font-size: 40px;
    color: #6563ff;
}
.card .back-view{
    /* display: none; */

    transform: rotateY(-180deg);
}

/* .card:hover .back-view{
    transform: rotateY(0);
}
.card:hover .front-view{
    transform: rotateY(180deg);
} js 3*/


/*JS 3*/
.card.flip .back-view{
    transform: rotateY(0);
}
.card.flip .front-view{
    transform: rotateY(180deg);
}
/*JS 7.2*/
.card.shake{
    animation: shake 0.35s ease-in-out;
}
@keyframes shake {
    0%, 100%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(-13px);
    }
    40%{
        transform: translateX(13px);
    }
    60%{
        transform: translateX(-8px);
    }
    80%{
        transform: translateX(8px);
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    width: 100%;
    height: 100vh;
    background: #0a80ce;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .box {
    height: 80px;
    width: 200px;
    background: #000;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    margin: 15px;
    transition: 0.5s;
  }
  .box:hover {
    transform: translateY(-20px);
    cursor: pointer;
  }
  .box:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(20px);
  }
  .box:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  span {
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    background: rgb(0, 0, 0, 0.5);
    z-index: 5;
  }
  span:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #26719400;
  }
  .content {
    z-index: 10;
    color: #fff;
  }
  .content p {
    font-size: 0.8em;
    margin-top: 50px;
  }
  
  .bluish:after {
    background: linear-gradient(315deg, #03a9f4, #ff0058);
  }
  
  .bluish:before {
    background: linear-gradient(315deg, #03a9f4, #ff0058);
  }
  
  .redish:after {
    background: linear-gradient(-45deg, red, yellow);
  }
  
  .redish:before {
    background: linear-gradient(-45deg, red, yellow);
  }
  .greenish:after {
    background: linear-gradient(315deg, #4dff03, #00d0ff);
  }
  
  .greenish:before {
    background: linear-gradient(315deg, #4dff03, #00d0ff);
  }
  
  a {
    text-decoration: none;
   
    border-radius: 15px;
    padding: 0.5em;
    width: max-content;
    color: white;
  }
  
  